<h1> Agregar informacion </h1>

<%= form_for @tod do |f| %>
	<p>
		<%= f.label :nombre %>
		<%= f.text_field :nombre %>
	</p>
	<p>
		<%= f.label :descripcion %>
		<%= f.text_area :descripcion %>
	</p>
	<p> 
		<%= f.submit %>
	</p>
	<% end %>